## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/

## User-specific files
*.rsuser
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/

## NuGet
**/packages/*
*.nupkg

## SQLite databases
*.db
*.db-shm
*.db-wal

## OS files
Thumbs.db
.DS_Store
